# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/

# =========================
# Virtual environments
# =========================
env/
ENV/
.venv/

# =========================
# IDEs
# =========================
.idea/
.pycharm/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Node
# =========================
node_modules/
npm-debug.log*

# =========================
# Databases
# =========================
*.db
*.sqlite3

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/


